.main{
  width: 100vw;
  height: 100vh;
  border: 1px solid gray;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
}

.btn {
  background-color: var(--sweet-pink);
  width: 90px ;
  height: 40px;
  outline: none;
  border-color: transparent;
  color:#ffffff;
  font-weight: bold;
  font-size: large;
  border-radius: 5px;
  margin: 10px;
}

#reader {
  border: 1px solid gray;
  width: 80%;
  height: 30%;
}

.code{
  width:50% ;
  height:20% ;
  background-color: honeydew;
  text-align: center;
  padding: 30px;
  margin: 20px;
}